.back-container{
  display: flex;
  gap: 30px;
  position:fixed;
  bottom: 0;
  right: 0;
}

.back{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 59px;
  background: #fff;
  border-radius: 30px;
  color: #060fc8;
  font-size: 19px;
  font-weight: 700;
  cursor: pointer; 
  font-style: italic;
}