.container{
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 50px;
  width: 600px;
  background: #fff;
  padding-bottom: 30px;
}

.header{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9px;
  width: 100%;
  margin-top: 30px;
}

.text{
  color: #060fc8;
  font-size: 48px;
  font-weight: 700;
}

.underline{
  width: 61px;
  height: 6px;
  background: #060fc8;
  border-radius: 9px;
}

.inputs{
  margin-top: 55px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.input{
  display: flex;
  align-items: center;
  margin: auto;
  width: 480px;
  height: 60px;
  background: #eaeaea;
  border-radius: 6px;
}

.input img{
  margin: 0px 30px;
}

.input input{
  height: 50px;
  width: 400px;
  background: transparent;
  color: #797979;
  border: none;
  outline: none;
  font-size: 19px;
}

.newAccount{
  padding-left: 62px;
  color: #797979;
  margin-top: 27px;
  font-size: 18px;
  display: flex;
}

.newAccount a{
  color: #060fc8;
  cursor: pointer;
  text-decoration: none;
  font-weight: 500;
  margin-left: 3px;
}

.submit-container{
  display: flex;
  gap: 30px;
  margin: 30px auto;
}

.submit{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 220px;
  height: 59px;
  background: #060fc8;
  border-radius: 50px;
  color: #fff;
  font-size: 19px;
  font-weight: 700;
  cursor: pointer; 
}

.gray{
  background: #eaeaea;
  color: #676767;
}