.head{
  padding: 20px;
  text-align: center;
  justify-content: center;

}
.title{
  color: #060fc8;
  font-size: 2.5em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  transition: color 0.3s ease-in-out;
}
.admin-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  gap: 70px;
}
.add-container{
  display: flex;
  gap: 30px;
  margin: 30px auto;
}

.add{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 350px;
  height: 100px;
  background: #fff;
  color:#060fc8;
  border-radius: 50px;
  font-size: 40px;
  font-weight: 700;
  cursor: pointer; 
  font-style: italic;
}
.view-container{
  display: flex;
  gap: 30px;
  margin: 30px auto;
}

.view{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 350px;
  height: 100px;
  background: #fff;
  color:#060fc8;
  border-radius: 50px;
  font-size: 40px;
  font-weight: 700;
  cursor: pointer; 
  font-style: italic;
}
.update-container{
  display: flex;
  gap: 30px;
  margin: 30px auto;
}

.update{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 350px;
  height: 100px;    
  background: #fff;
  color:#060fc8;
  border-radius: 50px;
  font-size: 40px;
  font-weight: 700;
  cursor: pointer; 
  font-style: italic; 
}



.logout-container{
  display: flex;
  gap: 30px;
  position:fixed;
  bottom: 0;
  right: 0;
}

.logout{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 220px;
  height: 59px;
  background: rgba(219,38,41,0.75);
  color: #fff;
  border-radius: 30px;
  font-size: 19px;
  font-weight: 700;
  cursor: pointer; 
  font-style: italic;
  transition: all 0.35s;
}

.logout:hover{
  background: rgba(219,38,41,1);
  color: #fff;
}