.error{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  color: #dddef0;
}
.error p{
  text-decoration: none;
  color: #dddef0;
  font-size: 23px;
}

.undo-container{
  display: flex;
  gap: 30px;
  position:absolute;
  width: 500px;
}